NODE_ENV=development
PORT=3000

# CLIENT URL
CLIENT_URL=http://localhost:8000

#DATABASE
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=

#JWT
# ACCESS TOKEN
JWT_SECRET_KEY=
JWT_EXPIRES_IN=
# REFRESH TOKEN
JWT_REFRESH_SECRET_KEY=
JWT_REFRESH_EXPIRES_IN=
