NODE_ENV=development
PORT=3000

# CLIENT URL
CLIENT_URL=http://localhost:8000

#DATABASE
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=

#JWT
# ACCESS TOKEN
JWT_SECRET_KEY=
JWT_EXPIRES_IN=
# REFRESH TOKEN
REFRESH_TOKEN_TTL_DAYS=
COOKIE_NAME=refresh_token
COOKIE_SECURE=
COOKIE_SAME_SITE=lax

# Setup Super Admin (Seeder) pnpm seed
SUPER_ADMIN_EMAIL=admin@erp.com
SUPER_ADMIN_PASSWORD=
SUPER_ADMIN_FULL_NAME=Super Admin